/*Criando as variáveis "painel de controle"*/
:root{
    --tcolor:#AAA;
    --bgcolor:#000000;
    --btncolor:grey;
    --logocolor:#e50914;
    --thcolor:#ffffff;
}

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*limita o tamanho da caixa, caso seus elementos forcem aumento de tamanho*/
}

/*Estilização básica*/
body{
    background-color: var(--bgcolor);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--tcolor);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3%;
}
header a{
    text-decoration: none;
    color:var(--tcolor);
    text-transform: uppercase;
    font-size: small;
    margin-left: 5px;    
}

header .logo{
    color:var(--logocolor);
    text-transform: uppercase;
    font-size:2.2em
}

header a:hover{
    color:var(--thcolor);
}

.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/cover.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}